.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 2.4rem;
    color: $orange;
    font-weight: 700;
    @include breakpoint($bmobile){
        display: none;
    }
}
.swiper-pagination-bullet{
    background-color: white;
}

.swiper-pagination-bullet{
    width: 44px;
    height: 6px;
    background-color: #283036;
    border-radius: 4px;
    opacity: 1;
    margin-left: 10px;
    &-active{
        background-color: $orange;
    }
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin-left: 14px;
}